@font-face {
   font-family: "Maven Pro";
   src: url("../fonts/MavenPro-Regular.woff") format("woff"),
      url("../fonts/MavenPro-Regular.woff") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Maven Pro";
   src: url("../fonts/MavenPro-Medium.woff") format("woff"),
      url("../fonts/MavenPro-Medium.woff") format("woff2");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Maven Pro";
   src: url("../fonts/MavenPro-SemiBold.woff") format("woff"),
      url("../fonts/MavenPro-SemiBold.woff") format("woff2");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Maven Pro";
   src: url("../fonts/MavenPro-Bold.woff") format("woff"),
      url("../fonts/MavenPro-Bold.woff") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Maven Pro";
   src: url("../fonts/MavenPro-ExtraBold.woff") format("woff"),
      url("../fonts/MavenPro-ExtraBold.woff") format("woff2");
   font-weight: 800;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Maven Pro";
   src: url("../fonts/MavenPro-Black.woff") format("woff"),
      url("../fonts/MavenPro-Black.woff") format("woff2");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}


